<h1>Editing reply</h1>

<% form_for(@reply) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </p>
  <p>
    <%= f.label :item_type %><br />
    <%= f.text_field :item_type %>
  </p>
  <p>
    <%= f.label :coordinate_x %><br />
    <%= f.text_field :coordinate_x %>
  </p>
  <p>
    <%= f.label :coordinate_y %><br />
    <%= f.text_field :coordinate_y %>
  </p>
  <p>
    <%= f.label :reply_long %><br />
    <%= f.text_area :reply_long %>
  </p>
  <p>
    <%= f.label :reply_short %><br />
    <%= f.text_field :reply_short %>
  </p>
  <p>
    <%= f.label :reply_item_id %><br />
    <%= f.text_field :reply_item_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @reply %> |
<%= link_to 'Back', replies_path %>
