<h1>Listing card_groups</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for card_group in @card_groups %>
  <tr>
    <td><%=h card_group.name %></td>
    <td><%= link_to 'Show', card_group %></td>
    <td><%= link_to 'Edit', edit_card_group_path(card_group) %></td>
    <td><%= link_to 'Destroy', card_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New card_group', new_card_group_path %>
