<p>
  <b>Code:</b>
  <%=h @help_page.code %>
</p>

<p>
  <b>Title:</b>
  <%=h @help_page.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @help_page.content %>
</p>


<%= link_to 'Edit', edit_help_page_path(@help_page) %> |
<%= link_to 'Back', help_pages_path %>
