<div class="content">

  <h1>Editing wireframe</h1>

  <% form_for(@wireframe) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :is_active %><br />
      <%= f.check_box :is_active %>
    </p>
    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>

  <%= image_tag @wireframe.screenshot.url %>

</div>