<h1>Listing cards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Group</th>
  </tr>

<% for card in @cards %>
  <tr>
    <td><%=h card.name %></td>
    <td><%=h card.group_id %></td>
    <td><%= link_to 'Show', card %></td>
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New card', new_card_path %>
