<div class="palette">
<h3>Color</h3>
<%= link_to_function image_tag("clickspot_red.png"), "change_click_colors('#f00','clickspot_red')" %>
<%= link_to_function image_tag("clickspot_green.png"), "change_click_colors('#090','clickspot_green')" %>
<%= link_to_function image_tag("clickspot_blue.png"), "change_click_colors('#00f','clickspot_blue')" %>
<h3>Style</h3>
<%= link_to_function "Individual Clicks", "change_view_type('click')" %><br />
<%= link_to_function "Grid", "change_view_type('grid')" %><br />
<%= link_to_function "Hide All", "change_view_type('none')" %>
</div>